.wrapper {
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: var(--radius-sm);
  padding: 8px 10px;
}

.date {
  border-bottom: 1px solid;
  margin-bottom: var(--space-1);
}

.quietDay {
  margin: auto;
}
